html {
    border: 2px solid;
    border-top:none;
    border-bottom:none;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px;
}

article {
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 30px 0px;
}

article h2 {
    margin:0px 0px 10px;
}

article h2 > span {
    float: right;
    font-size: 17px;
    font-weight: normal;
    position: relative;
    top: 4px;
}

.headline {
    margin: 0px auto;
    width: 80%;
    text-align: center;
    font-size: 30px;
    padding: 0px;
}

.headline h1 {
    margin: 6px 0px;
}

.headline p {
    margin: 10px 0px 70px;
    font-style: oblique;
}

.container-new-posts {
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 8px;
}

.new-post-header {
    font-size: 24px;
    font-weight: bold;
}

.fields {
    display: inline-block;
    width: 75%;
}

.fields > textarea {
    display: block;
    width: 100%;
    padding: 3px;
    height: 100px;
    border: 2px solid;
}

.fields > input {
    display: block;
    width: 100%;
    margin: 12px 0px;
    border: 2px solid;
    padding: 3px;
}

.fields > input#email {
    width: 50%;
}

.save-button {
    display: inline-block;
    vertical-align: top;
    margin: 12px auto;
    float: right;
    position: relative;
    right: 50px;
}

.clear-image {
    color: blue;
}

.articles {
    display: inline-block;
    max-width: 65rem;
}

.most-used-words {
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 30px 0px;
    width: 300px;
    height: 400px;
    float: right;
}

.most-used-words > p {
    margin: 0px 0px;
    font-size: 18px;
    font-weight: bold;
}

#most-used-words {
    margin:8px 0px;
}

#most-used-words > li {
    font-size: 17px;
}

#submit-post {
    border: 2px solid;
    padding: 4px 70px;
    border-radius: 5px;
    font-size: 16px;
}

@media (max-width: 640px) {
    .headline {
        font-size: 20px;
    }

    .most-used-words {
        margin: 0px;
    }
}
@media (max-width: 1460px) {
    .fields {
        display: block;
    }

    .fields > input {
        display: block;
        width: 100%;
        margin: 12px 0px;
        border: 2px solid;
        padding: 4px;
    }

    .fields > input#email {
        width: 75%;
    }

    .articles {
        width: 100%;
    }

    article {
        margin: 15px 0px;
    }

    .most-used-words {
        border: none;
        padding: 0px 10px;
        border-radius: unset;
        margin: 20px 0px;
        width: 100%;
        height: inherit;
        float: none;
    }

    .most-used-words > p {
        float:left;
    }

    #most-used-words > li {
        display: inline;
        padding: 10px;
    }

    .save-button {
        display: block;
        margin: 32px auto 12px;
        float: none;
        position: inherit;
        right: 50px;
    }
}